<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.linguancheng.gdeiassistant.Repository.Mysql.GdeiAssistant.Secret.SecretMapper">

    <!-- 开启SecretMapper namespace下的二级缓存 -->
    <cache/>

    <!-- 懒加载用户的评论信息 -->
    <resultMap id="SecretCommentLazyLoadingResultMap" type="com.linguancheng.gdeiassistant.Pojo.Entity.Secret">
        <id column="id" property="id"/>
        <result column="theme" property="theme"/>
        <result column="content" property="content"/>
        <collection property="secretCommentList" select="selectSecretComment" column="id"
                    ofType="com.linguancheng.gdeiassistant.Pojo.Entity.SecretComment">
            <id column="id" property="id"/>
            <result column="username" property="username"/>
            <result column="comment" property="comment"/>
            <result column="publishTime" property="publishTime"/>
            <result column="avatarTheme" property="avatarTheme"/>
        </collection>
    </resultMap>

    <!-- 查询树洞消息详细信息 -->
    <select useCache="false" id="selectSecretByID" parameterType="java.lang.Integer"
            resultMap="SecretCommentLazyLoadingResultMap">
        select * from secretContent where id=#{id} limit 1
    </select>

    <!-- 查询用户所有发布的树洞消息 -->
    <select id="selectSecretByUsername" parameterType="java.lang.String"
            resultType="com.linguancheng.gdeiassistant.Pojo.Entity.Secret">
        select * from secretContent where username=#{username} order by id desc
    </select>

    <!-- 分页查询树洞消息 -->
    <select useCache="false" id="selectSecret" resultMap="SecretCommentLazyLoadingResultMap">
        select * from secretContent order by id desc limit #{start},#{size}
    </select>

    <!-- 插入树洞消息 -->
    <insert id="insertSecret">
        insert into secretContent (username,content,theme) values(#{username},#{content},#{theme})
    </insert>

    <!-- 查询树洞消息的评论 -->
    <select id="selectSecretComment" parameterType="java.lang.Integer"
            resultType="com.linguancheng.gdeiassistant.Pojo.Entity.SecretComment">
        select * from secretComment where id=#{id}
    </select>

    <!-- 查询树洞消息的评论数 -->
    <select id="selectSecretCommentCount" parameterType="java.lang.Integer"
            resultType="java.lang.Integer">
        select count(id) from secretComment where id=#{id}
    </select>

    <!-- 插入树洞消息评论 -->
    <insert id="insertSecretComment">
        insert into secretComment (id,username,comment,avatarTheme,publishTime)
        values(#{id},#{username},#{comment},#{avatarTheme},#{publishTime})
    </insert>

    <!-- 查询用户点赞数 -->
    <select id="selectSecretLikeCount" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select count(id) from secretLike where id=#{id}
    </select>

    <!-- 查询用户有无点赞该消息，有则返回1，否则返回0 -->
    <select id="selectSecretLike" resultType="java.lang.Integer">
        select count(id) from secretLike where id=#{id} and username=#{username} limit 1
    </select>

    <!-- 点赞表中暂无记录，插入点赞记录 -->
    <insert id="insertSecretLike">
        insert into secretLike (id,username) values(#{id},#{username})
    </insert>

    <!-- 用户取消点赞，删除点赞记录 -->
    <delete id="deleteSecretLike">
        delete from secretLike where id=#{id} and username=#{username}
    </delete>

</mapper>