<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta content="telephone=no" name="format-detection">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <title>教务系统账号说明</title>
</head>
<body>

<div style="max-width: 677px;margin-left: auto;margin-right: auto">
    <p style="text-align:center">《广东二师助手教务系统账号说明》</p>
    <p style="text-align:center">更新日期：2019年2月14日</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;广东第二师范学院的同学们，欢迎使用易小助系统。<span style="color: rgb(255, 0, 0);">若你为新生或首次使用本系统，建议你先阅读本使用说明</span>。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;使用本系统，需要使用教务系统的账号与密码进行登录。<span style="color: rgb(255, 0, 0);">值得注意的是，教务系统的账号并不是学号</span>。此外，<span
            style="color: rgb(255, 0, 0);">新生一般需要一周的时间等待网络中心激活学院应用信息系统账号，若你无法登录系统，建议暂时耐心等待</span>。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;查询教务系统的账号的方式如下：</p>
    <p style="text-align: center;">
        <img style="width: 100% !important; height: auto !important; visibility: visible !important;"
             src="/img/about/account_1.jpg" onclick="window.location.href='/img/about/account_1.jpg'">
    </p>
    <p style="text-align: left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;打开学校主页：www.gdei.edu.cn
        ，在主页左方找到用户登录模块，点击如图所示的“查询用户账号”，进入用户账号查询页面。</p>
    <p style="text-align: center;">
        <img style="width: 100% !important; height: auto !important; visibility: visible !important;"
             src="/img/about/account_2.jpg" onclick="window.location.href='/img/about/account_2.jpg'"></p>
    <p style="text-align: left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;你可以选择通过姓名/学号，并填入身份证号的后六位数字，在用户账号查询页面中查询校园网用户账号。<br>
    </p>
    <p style="text-align: center;">
        <img style="width: 100% !important; height: auto !important; visibility: visible !important;"
             src="/img/about/account_3.jpg" onclick="window.location.href='/img/about/account_3.jpg'">
    </p>
    <p style="text-align: left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;若姓名/学号和身份证号后六位数字信息正确无误，页面将显示你的校园网账号信息。其中，<span
            style="color: rgb(255, 0, 0);">用户名则是使用本系统需要填写的教务系统账号，</span><span style="color: rgb(255, 0, 0);">2015级后的学生初始密码为身份证后六位数字</span>。
    </p>
    <p style="text-align: left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;由于使用初始密码存在风险，建议你登录学校的门户页面，修改账号密码。<br>
    </p>
    <p style="text-align: left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;修改初始密码的方式如下：</p>
    <p style="text-align: center;">
        <img style="width: 100% !important; height: auto !important; visibility: visible !important;"
             src="/img/about/account_4.png" onclick="window.location.href='/img/about/account_4.jpg'">
    </p>
    <p style="text-align: left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在学校主页的用户登录模块中，输入你的校园网账号和初始密码，选择门户入口，进入门户页面。<br>
    </p>
    <p style="text-align: center;">
        <img style="width: 100% !important; height: auto !important; visibility: visible !important;"
             src="/img/about/account_5.jpg" onclick="window.location.href='/img/about/account_5.jpg'">
    </p>
    <p style="text-align: left;">&nbsp; &nbsp; &nbsp; &nbsp; 在我的门户页面中，选择密码修改，修改你的初始密码。</p>
</div>

</body>
</html>