<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" monitorInterval="7200">

    <Appenders>

        <!-- 输出到控制台 -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{ABSOLUTE} %5p %c{1}:%L - %m%n"/>
        </Console>

        <!-- 输出INFO信息到文件中 -->
        <RollingRandomAccessFile name="Info">
            <FileName>
                /data/wwwlogs/gdeiassistant_info.log
            </FileName>
            <FilePattern>
                /data/wwwlogs/gdeiassistant_info.log-%i.gz
            </FilePattern>
            <PatternLayout pattern="%-d{yyyy-MM-dd HH:mm:ss}  [ %t:%r ] - [ %p ]  %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="5MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5"/>
            <Filters>
                <ThresholdFilter level="warn" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </RollingRandomAccessFile>

        <!-- 输出ERROR信息到文件中 -->
        <RollingRandomAccessFile name="Error">
            <FileName>
                /data/wwwlogs/gdeiassistant_error.log
            </FileName>
            <FilePattern>
                /data/wwwlogs/gdeiassistant_error.log-%i.gz
            </FilePattern>
            <PatternLayout pattern="%-d{yyyy-MM-dd HH:mm:ss}  [ %t:%r ] - [ %p ]  %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="5MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5"/>
            <Filters>
                <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </RollingRandomAccessFile>

        <!-- 单独输出用户请求日志信息到文件中 -->
        <RollingRandomAccessFile name="RequestLog">
            <FileName>
                /data/wwwlogs/gdeiassistant_request.log
            </FileName>
            <FilePattern>
                /data/wwwlogs/gdeiassistant_request.log-%i.gz
            </FilePattern>
            <PatternLayout pattern="[ %p ]  %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5"/>
            <Filters>
                <ThresholdFilter level="warn" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </RollingRandomAccessFile>

        <!-- 单独输出用户查询日志信息到文件中 -->
        <RollingRandomAccessFile name="RestLog">
            <FileName>
                /data/wwwlogs/gdeiassistant_rest.log
            </FileName>
            <FilePattern>
                /data/wwwlogs/gdeiassistant_rest.log-%i.gz
            </FilePattern>
            <PatternLayout pattern="[ %p ]  %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5"/>
            <Filters>
                <ThresholdFilter level="warn" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </RollingRandomAccessFile>

    </Appenders>

    <Loggers>

        <root level="info">
            <appender-ref ref="Console"/>
            <appender-ref ref="Info"/>
            <appender-ref ref="Error"/>
        </root>

        <logger name="edu.gdei.gdeiassistant.Aspect.QueryLogAspect" level="info" additivity="false">
            <appender-ref ref="RestLog"/>
            <appender-ref ref="Console"/>
        </logger>

        <logger name="edu.gdei.gdeiassistant.Aspect.RequestLogAspect" level="info" additivity="false">
            <appender-ref ref="RequestLog"/>
            <appender-ref ref="Console"/>
        </logger>


    </Loggers>

</Configuration>