<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.linguancheng.gdeiassistant.Repository.Mysql.GdeiAssistant.WechatUser.WechatUserMapper">

    <!-- 开启WechatUserMapper namespace下的二级缓存 -->
    <cache/>

    <select id="selectUsername" parameterType="java.lang.String" resultType="java.lang.String">
        select username from wechat_user where wechat_id=#{wechatId} limit 1
    </select>

    <insert id="insertWechatUser">
        insert into wechat_user (wechat_id,username) values (#{wechatId},#{username})
    </insert>

    <update id="updateWechatUser">
        update wechat_user set username=#{username} where wechat_id=#{wechatId}
    </update>

    <delete id="resetWechatUser">
        delete from wechat_user where username=#{username}
    </delete>

</mapper>