<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.gdei.gdeiassistant.Repository.Mysql.GdeiAssistantData.ElectricFees.ElectricFeesMapper">

    <!-- 开启DataMapper namespace下的二级缓存 -->
    <cache/>

    <select id="selectElectricFees" resultType="edu.gdei.gdeiassistant.Pojo.Entity.ElectricFees">
        select *
        from electricFees
        where name = #{name} and number = #{number} and year = #{year}
    </select>

    <insert id="insertElectricFeesBatch">
        insert into electricFees (year,building_number,room_number,people_number
        ,department,number,name,used_electric_amount,free_electric_amount
        ,fee_based_electric_amount,electric_price,total_electric_bill,average_electric_bill) values
        <foreach collection="list" item="electricFees" index="index" separator=",">
            (#{electricFees.year},#{electricFees.buildingNumber},#{electricFees.roomNumber}
            ,#{electricFees.peopleNumber},#{electricFees.department}
            ,#{electricFees.number},#{electricFees.name},#{electricFees.usedElectricAmount}
            ,#{electricFees.freeElectricAmount},#{electricFees.feeBasedElectricAmount}
            ,#{electricFees.electricPrice},#{electricFees.totalElectricBill},#{electricFees.averageElectricBill})
        </foreach>
    </insert>

</mapper>