<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.linguancheng.gdeiassistant.Repository.Mysql.GdeiAssistant.User.UserMapper">

    <!-- 开启UserMapper namespace下的二级缓存 -->
    <cache/>

    <select id="selectUser" parameterType="java.lang.String"
            resultType="com.linguancheng.gdeiassistant.Pojo.Entity.User">
        select * from user where username=#{username} limit 1
    </select>

    <select id="selectDeletedUserCount" parameterType="java.lang.String"
            resultType="java.lang.Integer">
        select count(username) from user where username like concat(concat('%',#{username}),'%')
    </select>

    <select id="selectUserList" resultType="com.linguancheng.gdeiassistant.Pojo.Entity.User">
        select * from user order by username limit #{start},#{size} where state!=-1
    </select>

    <select id="selectUserCount" resultType="java.lang.Integer">
        select count(username) from user where state!=-1;
    </select>

    <select id="selectAllUser" resultType="com.linguancheng.gdeiassistant.Pojo.Entity.User">
        select * from user where state!=-1;
    </select>

    <insert id="insertUser" parameterType="com.linguancheng.gdeiassistant.Pojo.Entity.User">
        insert into user (username,password,state) values (#{username},#{password},0)
    </insert>

    <update id="updateUser" parameterType="com.linguancheng.gdeiassistant.Pojo.Entity.User">
        update user set password=#{password},state=0 where username=#{username}
    </update>

    <update id="closeUser" parameterType="java.lang.String">
        update user set username=#{resetname},password=null,keycode=null,number=null,state=-1 where username=#{username}
    </update>

</mapper>