@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none;
    box-sizing: border-box;
}

html:root {
    font-family: "Microsoft YaHei", "Microsoft JhengHei", STHeiti, MingLiu, san-serif;
}

html {
    max-width: 480px;
    margin: 0 auto;
    height: 100%;
}

body {
    background: #ececec;
    margin-bottom: 3.3rem;
    height: 100%;
}

.theme1 {
    background-color: #fff;
}

.theme2 {
    background-color: #595959;
}

.theme3 {
    background-color: #f5d676;
}

.theme4 {
    background-color: #f69695;
}

.theme5 {
    background-color: #c6a8c1;
}

.theme6 {
    background-color: #89cdcb;
}

.theme7 {
    background-color: #90cce2;
}

.theme8 {
    background-color: #6e7e90;
}

.theme9 {
    background-color: #61ae97;
}

.theme10 {
    background-color: #d3cd72;
}

.theme11 {
    background-color: #e8d5a8;
}

.theme12 {
    background-color: #daa6a1;
}

.secret {
    margin: 20px 10px 0;
    text-align: center;
    font-size: 17px;
    line-height: 25px;
    position: relative;
    color: #fff;
    height: 240px;
}

.secret footer {
    height: 42px;
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 0;
}

.secret footer div {
    width: 50%;
    display: inline-block;
    font-size: 1rem;
    line-height: 40px;
    color: #fff;
}

.secret footer div i {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    background-size: 1.1rem;
    background-position: center;
    vertical-align: middle;
}

.secret footer div .pregood {
    background-image: url(../../img/secret/pregood.png);
    background-position: center 10px;
}

.secret footer div .good {
    background-image: url(../../img/secret/good.png);
    background-position: center 10px;
}

.secret footer div .comment {
    background-image: url(../../img/secret/comment.png);
}

.discuss {
    line-height: 1.5rem;
    margin: 0 10px;
    background: #fff;
    padding: 10px;
    border: #e0e0e0 solid;
    border-width: 0 1px;
}

.discuss img {
    width: 2.5rem;
    border-radius: 1.25rem;
    vertical-align: top;
}

.discuss .to {
    width: 10px;
    height: 10px;
    margin: 0 5px;
}

.discuss .info {
    display: inline-block;
    vertical-align: top;
}

.discuss p {
    font-weight: bolder;
}

.discuss span {
    font-size: 0.8rem;
    color: #6f6f6f;
}

.co-reply {
    padding-left: 40px;
    background-color: #fff;
    font-size: 0.9rem;
}

.co-reply img {
    vertical-align: middle;
    height: 25px;
    width: 25px;
}

.form {
    border-top: #cacacd;
    padding: 0.5rem;
    background: #fff;
    position: fixed;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    left: auto;
    right: auto;
    width: 100%;
}

.form input {
    line-height: 2.2rem;
    border: #bfc7cd 1px solid;
    width: 100%;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    text-indent: 5px;
    font-size: 1rem;
}

.form input::-webkit-input-placeholder {
    font-size: 1rem;
    line-height: 2.2rem;
    font-weight: bolder;
}

.submit, .reply {
    float: right;
    line-height: 2.2rem;
    border: #bfc7cd 1px solid;
    width: 20%;
    border-radius: 3px;
    text-align: center;
    display: none;
    border-left: none;
}

.all {
    min-height: 100%;
    padding-bottom: 3.8rem;
}

.theme1 {
    background-color: #fff;
    color: #000;
}

.theme1 > footer {
    background-color: rgba(0, 0, 0, 0.05);
}

.theme1 footer div {
    color: #000;
}

.theme1 footer div .pregood {
    background-image: url(../../img/secret/grayg.png);
    background-position: center 10px;
}

.theme1 footer div .comment {
    background-image: url(../../img/secret/grayc.png);
}