@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

html:root {
    font-family: "Microsoft YaHei", "Microsoft JhengHei", STHeiti, MingLiu, san-serif;
}

html {
    background: #f5f5f5;
    max-width: 480px;
    margin: 0 auto;
    margin-bottom: 1rem;
    overflow: hidden;
}

header {
    line-height: 2.5rem;
    text-align: center;
    font-weight: bolder;
    font-size: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.11);
    position: relative;
}

header i {
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    background-size: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: middle;
    position: absolute;
}

header .back {
    background-image: url(../../img/secret/back1.png);
    left: 0;
}

header .back1 {
    background-image: url(../../img/secret/back.png);
    left: 0;
}

.font-normal {
    color: #fff;
}

.font-white {
    color: #000;
}

.edit {
    height: 284px;
    position: relative;
}

.voice {
    height: 284px;
    position: relative;
}

.edit textarea {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    border: none;
    font-size: 18px;
    overflow-x: hidden;
    line-height: 24px;
    background-color: inherit;
    color: inherit;
    height: auto;
}

textarea::-webkit-input-placeholder {
    color: inherit;
    line-height: 1.5rem;
}

.length {
    position: absolute;
    bottom: 0.6rem;
    right: 1rem;
}

.bar {
    border: solid #d5d5d5;
    border-width: 1px 0;
    padding: 10px;
    overflow: hidden;
}

.bar i {
    width: 23px;
    height: 23px;
    display: block;
    float: right;
    background: url(../../img/secret/pallet.png) no-repeat center;
    background-size: 100%;
}

.bar .gray-pallet {
    background: url(../../img/secret/pallet1.png) no-repeat center;
    background-size: 100%;
}

.themes {
    display: none;
    margin-top: 10px;
}

.themes > div {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: 0 5px;
    height: 2.7rem;
    position: relative;
}

.theme1 {
    background-color: #fff;
}

.theme2 {
    background-color: #595959;
}

.theme3 {
    background-color: #f5d676;
}

.theme4 {
    background-color: #f69695;
}

.theme5 {
    background-color: #c6a8c1;
}

.theme6 {
    background-color: #89cdcb;
}

.theme7 {
    background-color: #90cce2;
}

.theme8 {
    background-color: #6e7e90;
}

.theme9 {
    background-color: #61ae97;
}

.theme10 {
    background-color: #d3cd72;
}

.theme11 {
    background-color: #e8d5a8;
}

.theme12 {
    background-color: #daa6a1;
}

.btn {
    position: absolute;
    right: 1rem;
    top: 0;
}

.selected {
    background-image: url(../../img/schedule/select.png);
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-size: 1.5rem;
    background-position: center;
    position: absolute;
    right: -0.5rem;
    top: -0.5rem;
}

#record {
    margin-top: 110px;
}

#volume {
    height: 20px;
    background: #1afa29;
}