@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none;
    box-sizing: border-box;
}

html:root {
    font-family: "Microsoft YaHei", "Microsoft JhengHei", STHeiti, MingLiu, san-serif;
}

html {
    max-width: 480px;
    margin: 0 auto;
}

body {
    background: #ececec;
}

a {
    color: inherit;
    text-decoration: none;
}

header {
    margin: 1rem auto;
    width: 14.7rem;
}

header i {
    display: inline-block;
    height: 2rem;
    width: 2rem;
}

.pub {
    padding: 0 1.5rem;
}

.publish {
    background-image: url(../../img/secret/publish.png);
    background-size: 1.5rem;
    background-repeat: no-repeat;
    background-position: center;
    height: 3rem;
    vertical-align: top;
}

header a {
    display: inline-block;
    line-height: 3rem;
    border-radius: 1.5rem;
    border: 1px solid #d3d3d3;
    color: #2a5997;
    text-decoration: none;
    background-color: #fff;
    font-size: 1.1rem;
    font-weight: bolder;
    vertical-align: top;
}

.msg {
    background-image: url(../../img/secret/msg.png);
    height: 3rem;
    vertical-align: middle;
    background-size: 1.5rem;
    background-repeat: no-repeat;
    background-position: center;
    width: 3rem;
    position: relative;
}

.msg .on {
    background-color: red;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    position: absolute;
    right: 18%;
    top: 18%;
}

.secret {
    margin: 20px 10px;
    text-align: center;
    font-size: 17px;
    line-height: 25px;
    position: relative;
    color: #fff;
    height: 240px;
    padding: 0 10px;
}

.secret > a {
    display: block;
    height: 100%;
}

.secret section {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.secret footer {
    height: 42px;
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 0;
}

.secret footer div {
    width: 50%;
    display: inline-block;
    font-size: 1rem;
    line-height: 40px;
    color: #fff;
}

.secret footer div i {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    background-size: 1.1rem;
    background-position: center;
    vertical-align: middle;
}

.secret footer div .pregood {
    background-image: url(../../img/secret/pregood.png);
    background-position: center 10px;
}

.secret footer div .good {
    background-image: url(../../img/secret/good.png);
    background-position: center 10px;
}

.secret footer div .comment {
    background-image: url(../../img/secret/comment.png);
}

.theme1 {
    background-color: #fff;
    color: #000;
}

.theme1 > footer {
    background-color: rgba(0, 0, 0, 0.05);
}

.theme1 footer div {
    color: #000;
}

.theme1 footer div .pregood {
    background-image: url(../../img/secret/grayg.png);
    background-position: center 10px;
}

.theme1 footer div .comment {
    background-image: url(../../img/secret/grayc.png);
}

.theme2 {
    background-color: #595959;
}

.theme3 {
    background-color: #f5d676;
}

.theme4 {
    background-color: #f69695;
}

.theme5 {
    background-color: #c6a8c1;
}

.theme6 {
    background-color: #89cdcb;
}

.theme7 {
    background-color: #90cce2;
}

.theme8 {
    background-color: #6e7e90;
}

.theme9 {
    background-color: #61ae97;
}

.theme10 {
    background-color: #d3cd72;
}

.theme11 {
    background-color: #e8d5a8;
}

.theme12 {
    background-color: #daa6a1;
}