* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none;
    box-sizing: border-box;
}

html {
    max-width: 480px;
    margin: 0 auto;
}

html:root {
    font-family: "Microsoft YaHei", "Microsoft JhengHei", STHeiti, MingLiu, san-serif;
}

body {
    background: #ececec;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.notice {
    background-color: #fff;
    padding: 1rem;
    line-height: 2rem;
    border-bottom: #e0e0e0 1px solid;
}

.inotice {
    height: 2rem;
    width: 2rem;
    background-image: url(../../img/secret/notice.png);
    background-size: 1.8rem;
    margin-right: 0.3rem;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: middle;
    display: inline-block;
}

.msg {
    height: 5rem;
    background: #fff;
    line-height: 1.5rem;
    border-bottom: #e0e0e0 1px solid;
    padding: 0 1rem;
}

.msg p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 80%;
    display: inline-block;
    vertical-align: top;
}

.new {
    display: inline-block;
    background: #dc201e;
    color: #fff;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 0.75rem;
    text-align: center;
    line-height: 1.5rem;
    margin-top: 28px;
}

.toggle {
    float: right;
    display: block;
    width: 1rem;
    height: 1rem;
    background-image: url(../../img/secret/in.png);
    background-size: 0.8rem;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 32px;
}