<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.linguancheng.gdeiassistant.Repository.Mysql.GdeiAssistant.YiBanUser.YiBanUserMapper">

    <!-- 开启YiBanUserMapper namespace下的二级缓存 -->
    <cache/>

    <select id="selectUsername" parameterType="java.lang.Integer" resultType="java.lang.String">
        select username from yiban_user where user_id=#{userid} limit 1
    </select>

    <insert id="insertYiBanUser">
        insert into yiban_user (user_id,username) values (#{userid},#{username})
    </insert>

    <update id="updateYiBanUser">
        update yiban_user set username=#{username} where user_id=#{userid}
    </update>

    <delete id="resetYiBanUser">
        delete from yiban_user where username=#{username}
    </delete>

</mapper>