# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
out
gradlew
gradlew.bat
src/main/resources/config/jaq/
src/main/resources/config/mongodb/
src/main/resources/config/mysql/app-jdbc.properties
src/main/resources/config/mysql/log-jdbc.properties
src/main/resources/config/mysql/data-jdbc.properties
src/main/resources/config/network/proxy.properties
src/main/resources/config/redis/redis.properties
src/main/resources/config/oss/
src/main/resources/config/version/
src/main/resources/config/wechat/
src/main/resources/config/yiban
src/main/resources/config/api/
src/main/resources/config/jwt/
src/main/resources/config/validate
src/main/resources/config/education/cache.properties
src/main/resources/config/news/account.properties
src/main/resources/config/alipay/
src/test/
.gradle/
build/
gradle/
lib/
classes/