<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.gdei.gdeiassistant.Repository.Mysql.GdeiAssistant.User.UserMapper">

    <!-- 开启UserMapper namespace下的二级缓存 -->
    <cache/>

    <resultMap id="UserResultMap" type="edu.gdei.gdeiassistant.Pojo.Entity.User">
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="state" column="state"/>
        <result property="group" column="user_group"/>
    </resultMap>

    <select id="selectUser" parameterType="java.lang.String" resultMap="UserResultMap">
        select * from user where username=#{username} limit 1
    </select>

    <select id="selectDeletedUserCount" parameterType="java.lang.String"
            resultType="java.lang.Integer">
        select count(username) from user where username like concat(concat('%',#{username}),'%')
    </select>

    <select id="selectUserList" resultMap="UserResultMap">
        select * from user where state!=-1 order by username limit #{start},#{size}
    </select>

    <select id="selectUserCount" resultType="java.lang.Integer">
        select count(username) from user where state!=-1;
    </select>

    <select id="selectAllUser" resultMap="UserResultMap">
        select * from user where state!=-1;
    </select>

    <insert id="insertUser" parameterType="edu.gdei.gdeiassistant.Pojo.Entity.User">
        insert into user (username,password,state,user_group) values (#{username},#{password},0,1)
    </insert>

    <update id="updateUser" parameterType="edu.gdei.gdeiassistant.Pojo.Entity.User">
        update user set password=#{password},state=0 where username=#{username}
    </update>

    <update id="closeUser" parameterType="java.lang.String">
        update user set username=#{resetname},password=null,keycode=null,number=null,state=-1 where username=#{username}
    </update>

</mapper>