body {
    color: #333;
}

a {
    color: #333;
}

.margin-bottom60 {
    margin-bottom: 40px !important;
}

.banxin {
    max-width: 1070px;
    margin: 0 auto;
    width: 80%;
}

.header {
    height: 70px;
    width: 100%;
    background: #·f6f6f6;
    border-bottom: 1px solid #dadada;
}

.header .container > * {
    height: 70px;
    line-height: 70px;
}

.header h1 {
    font-family: "微软雅黑";
    font-size: 22px;
}

.app_logo {
    display: block;
    margin: 0 auto;
    width: 120px;
}

.app_logo img {
    border: 1px solid #dadada;
    border-radius: 21px;
}

.models {
    width: 382px;
    margin: 0 auto;
    overflow: hidden;
}

.models img {
    min-width: 180px;
    max-width: 180px;
}

.models .col-xs-6 {
    padding: 0;
}

h2 {
    font-size: 26px;
    margin-bottom: 26px;
    font-family: "微软雅黑";
}

h3 {
    line-height: 24px;
}

.dsp section {
    line-height: 24px;
    margin-bottom: 18px;
}

.table-responsive {
    border: none;
    overflow: auto;
}

.table {
    margin-bottom: 0;
}

.table td {
    width: 230px !important;
    overflow: hidden;
}

.table td > div {
    width: 230px !important;
    overflow: hidden;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
    border: 0 none;
}

.table td img {
    width: 230px;
}

.footer {
    height: 60px;
    line-height: 60px;
    background: #ebebeb;
    margin-top: 188px;
}

.footer a {
    color: #0f7fff;
}

@media screen and (max-width: 448px) {
    .models {
        width: 180px;
    }

    .models .col-xs-6 {
        width: 100% !important;
    }

    .models img:last-of-type {
        margin-top: 20px;
    }
}

.cool-content {
    background: #ebebeb;
    padding-top: 4px;
    overflow: visible;
    height: 482px;
}

.cool-content-left {
    width: 50%;
    position: relative;
    float: left;
    height: 482px;
}

.app-detail {
    width: 120px;
}

.cool-content-left img {
    float: right;
}

.app-detail {
    text-align: center;
    color: #fff;
    position: absolute;
    right: 114px;
    top: 157px;
    width: 120px;
}

.app-detail img {
    margin-bottom: 30px;
}

.app-detail h1 {
    font-size: 26px;
    font-family: "微软雅黑";
    margin-bottom: 18px;
}

.app-detail p {
    font-size: 12px;
    line-height: 18px;
    font-family: "宋体";
}

.cool-content-right {
    width: 50%;
    float: right;
    padding-top: 122px;
    padding-left: 86px;
}

.cool-content-right > div {
    width: 180px;
    text-align: center;
}

.cool-content-right img {
    display: block;
    margin: 0 auto;
    margin-bottom: 17px;
}

.cool-content-right .btn_group {
    margin-bottom: 47px;
}

.qr-content img {
    margin-bottom: 14px;
}

@media screen and (max-width: 900px) {
    .cool-content {
        height: auto;
        overflow: hidden;
    }

    .cool-content-left > img {
        display: none;
    }

    .cool-content-left {
        height: auto;
        padding-top: 30px;
    }

    .app-detail {
        position: relative;
        top: 0;
        right: 0;
        margin: 0 auto;
        color: #333;
    }

    .cool-content-left,
    .cool-content-right {
        width: 100%;
    }

    .cool-content-right {
        padding-left: 0;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .cool-content-right > div {
        margin: 0 auto;
    }
}

.table .heng {
    width: 407px !important;
}

.table .heng > div, .table .heng img {
    width: 407px !important;
}

.wxtip {
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
    display: none;
}

.wxtip-icon {
    width: 52px;
    height: 67px;
    background: url("../../img/download/wechatTip.png") no-repeat;
    display: block;
    position: absolute;
    right: 30px;
    top: 20px;
}

.wxtip-txt {
    padding-top: 107px;
    color: #fff;
    font-size: 16px;
    line-height: 1.5;
}

/*# sourceMappingURL=download-base.css.map */