<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.linguancheng.gdeiassistant.Repository.Mysql.GdeiAssistant.Ershou.ErshouMapper">

    <!-- 开启ErshouMapper namespace下的二级缓存 -->
    <cache/>

    <resultMap id="ErshouInfo" type="com.linguancheng.gdeiassistant.Pojo.Entity.ErshouInfo">
        <result property="ershouItem.id" column="id"/>
        <result property="ershouItem.username" column="username"/>
        <result property="ershouItem.name" column="name"/>
        <result property="ershouItem.description" column="description"/>
        <result property="ershouItem.price" column="price"/>
        <result property="ershouItem.location" column="location"/>
        <result property="ershouItem.type" column="type"/>
        <result property="ershouItem.qq" column="qq"/>
        <result property="ershouItem.phone" column="phone"/>
        <result property="ershouItem.state" column="state"/>
        <result property="ershouItem.publishTime" column="publishTime"/>
    </resultMap>

    <select id="selectInfoByID" parameterType="java.lang.Integer" resultMap="ErshouInfo">
        select * from ershou join profile using (username) where id=#{id} limit 1
    </select>

    <select id="selectItemByUsername" parameterType="java.lang.String"
            resultType="com.linguancheng.gdeiassistant.Pojo.Entity.ErshouItem">
        select * from ershou where username=#{username} order by id desc
    </select>

    <select id="selectAvailableItem" resultType="com.linguancheng.gdeiassistant.Pojo.Entity.ErshouItem">
        select * from ershou where state='1' order by id desc limit #{start},#{size}
    </select>

    <select id="selectItemByType" resultType="com.linguancheng.gdeiassistant.Pojo.Entity.ErshouItem">
        select * from ershou where type=#{type} and state='1' order by id desc limit #{start},#{size}
    </select>

    <select id="selectItemWithKeyword" resultType="com.linguancheng.gdeiassistant.Pojo.Entity.ErshouItem">
        select distinct * from ershou where state='1' and (name like '%${keyword}%'
         or description like '%${keyword}%' or location like '%${keyword}%') order by id desc limit #{start},#{size}
    </select>

    <insert id="insertItem" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.linguancheng.gdeiassistant.Pojo.Entity.ErshouItem">
        insert into ershou (username,name,description,price,location,type,qq,phone,state,publishTime)
         values (#{username},#{name},#{description},#{price},#{location},#{type},#{qq},#{phone},'1',#{publishTime})
    </insert>

    <update id="updateItem">
        update ershou set name=#{name},description=#{description},price=#{price},location=#{location},
        type=#{type},qq=#{qq},phone=#{phone} where id=#{id}
    </update>

    <update id="updateItemState">
        update ershou set state=#{state} where id=#{id}
    </update>

</mapper>