<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta content="telephone=no" name="format-detection">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <title>隐私政策</title>
</head>

<body>
<div>
    <p style="text-align:center">《广东二师助手隐私政策》</p>
    <p style="text-align:center">更新日期：2019年2月14日</p>
    <p style="text-align:right"><br></p>
    <p style="text-indent:14px;line-height:150%">
        【特别提示】请仔细阅读《广东二师助手隐私政策》（尤其是加粗划线的内容）并确定了解我们对您个人信息的收集与处理（包括使用、保存、共享、转让）规则。阅读过程中，如您有任何疑问，可联系我们的客服和管理员咨询。当您以适当的方式开始、继续使用我们的产品或服务超过15日的，您未通过适当的方式联系我们并表达相反意见的，我们将视为您充分理解并同意本政策。</p>
    <p>引言</p>
    <p style="text-indent:28px">
        广东二师助手（“我们”）非常重视用户的隐私和个人信息保护。您在使用我们的产品与/或服务时，我们可能会收集和处理您的相关信息。我们希望通过《广东二师助手隐私政策》（“本隐私政策”）向您说明我们在您使用我们的产品与/或服务时如何收集、使用、保存、共享和转让这些信息，以及我们为您提供的访问、更新、删除和保护这些信息的方式。</p>
    <p>本政策将帮助您了解以下内容：</p>
    <p class="MsoListParagraph" style="margin-left:28px">一、 我们如何收集和使用您的个人信息</p>
    <p class="MsoListParagraph" style="margin-left:28px">二、 我们如何使用 Cookie 和同类技术</p>
    <p class="MsoListParagraph" style="margin-left:28px">三、 我们如何共享、转让、公开披露您的个人信息</p>
    <p class="MsoListParagraph" style="margin-left:28px">四、 我们如何保护和保存您的个人信息</p>
    <p class="MsoListParagraph" style="margin-left:28px">五、 您如何管理个人信息</p>
    <p class="MsoListParagraph" style="margin-left:28px">六、 通知和修订</p>
    <p class="MsoListParagraph" style="margin-left:28px">七、 未成年人的个人信息保护</p>
    <p class="MsoListParagraph" style="margin-left:28px">八、 免责声明</p>
    <p>&nbsp;<span style="text-indent: 28px;">&nbsp;</span></p>
    <p style="text-indent:28px">
        本隐私政策与您所使用的广东二师助手平台服务以及该服务所包括的各种业务功能（以下统称“我们的产品与/或服务”）息息相关，希望您在使用我们的产品与/或服务前仔细阅读并确认您已经充分理解本政策所写明的内容，并让您可以按照本隐私政策的指引做出您认为适当的选择。本隐私政策中涉及的相关术语，我们尽量以简明扼要的表述，以便您更好地理解。您使用或在我们更新本隐私政策后（我们会及时提示您更新的情况）继续使用我们的产品与/或服务超过15日的，您未通过适当的方式联系我们并表达相反意见的，即意味着您同意本隐私政策(含更新版本)内容，并且同意我们按照本隐私政策收集和处理您的相关信息。</p>
    <p style="text-indent:28px">如对本隐私政策或相关事宜有任何问题、异议、评论、建议、担忧、投诉或举报，您可随时通过官方客服与我们联系 。</p>
    <p style="text-indent:28px">在经与我们沟通后，如您对我们的答复不满意，您可以联系负责个人信息使用相关投诉的有关行业协会、监管部门或权威部门，或者依据适用的法律向具有管辖权的法院提起诉讼。</p>
    <p><strong>&nbsp;</strong></p>
    <p><strong>一、我们如何收集和使用您的个人信息</strong></p>
    <p>1.1
        个人信息是指以电子或者其他方式记录的能够单独或者与其他信息结合识别特定自然人身份或者反映特定自然人活动情况的各种信息。本隐私政策中涉及的个人信息包括但不限于：基本信息；个人上网记录（包括网站浏览记录、软件使用记录、点击记录）；个人常用设备信息（包括硬件型号、设备MAC地址、操作系统类型、软件列表唯一设备识别码（如IMEI/android
        ID/IDFA/OPENUDID/GUID、SIM卡IMSI信息等在内的描述个人常用设备基本情况的信息）。</p>
    <p>1.2 我们仅会出于以下目的，收集和使用您的个人信息：</p>
    <p>
        1.2.1 您须授权我们收集和使用您个人信息的情形:我们的产品与/或服务包括核心业务功能和附加功能，其中，核心功能包含了实现教务查询、社区功能等所必须的功能、改进我们的产品与/或服务所必须的功能及保障信息安全、交易安全所必须的功能。我们可能会收集和使用下列与您有关的信息才能实现上述这些功能。如果您不提供相关信息，您将无法享受我们提供的核心产品与/或服务。</p>
    <p>1.2.2 这些功能包括：</p>
    <p>1.2.2.1 用户注册</p>
    <p>
        您首先需要注册一个广东二师助手账户成为广东二师助手用户。当您注册时，您需要至少向我们提供您在广东第二师范学院校园网系统中的账户名、密码，我们将通过向广东第二师范学院校园网系统发送测试请求以验证账户名和密码是否有效。您的账户名为您的默认昵称，您可以修改补充您的昵称、性别、国家/地区等相关信息，这些信息均属于您的“账户信息”。您补充的账户信息将有助于我们为您提供个性化的信息推荐和更优的社区功能体验，但如果您不提供这些补充信息，不会影响您校园服务的基本功能。</p>
    <p>1.2.2.2 校园网账户信息和教务信息</p>
    <p>
        为了让您更快速和便捷地登录广东二师助手系统并查询到您所需要的教务数据信息，我们可能会保存您在用户注册时提供的，经过广东第二师范学院校园网系统验证有效的校园网系统的账户名和密码。同时，我们可能会定期根据保存的校园网系统的账户名和密码，登录广东第二师范学院校园网系统，获取校园网系统实时的教务信息，保存到广东二师助手系统中。</p>
    <p>您可以在广东二师助手系统的隐私设置中，关闭定期缓存教务数据的选项。</p>
    <p>1.2.2.3 客服、意见反馈和故障申报功能</p>
    <p>我们的客服，意见反馈和故障申报功能会使用您的账号信息。</p>
    <p>
        为保证您的账号安全，我们的客服会使用您的账号信息与您核验您的身份。当您需要我们提供与您的广东二师助手账户相关的客服服务与您使用意见反馈、故障申报功能时，我们将可能会查询您的账户信息、教务信息和社区信息。您有可能会在与我们的客服人员沟通时，提供给出上述信息外的其他信息。</p>
    <p>1.2.3 改进我们的产品与/或服务所必须的功能</p>
    <p>
        我们可能会收集您的社区信息、浏览信息、账户信息进行数据分析以形成用户画像，用来将您感兴趣的服务信息展示给您；或在您搜索时向您展示您可能希望找到的信息。我们还可能为了提供服务及改进服务质量的合理需要而获得的您的其他信息，包括您与客服联系时您提供的相关信息，您参与问卷调查时向我们发送的问卷答复信息，以及您与我们的关联方、我们合作伙伴之间互动时我们获得的相关信息。对于从您的各种设备上收集到的信息，我们可能会将它们进行关联，以便我们能在这些设备上为您提供一致的服务。我们可能会将来自某项服务的信息与来自其他服务的信息结合起来，以便为您提供服务、个性化内容和建议。</p>
    <p>1.2.4 保障信息和账户安全所必须的功能</p>
    <p>
        为提高您使用我们的产品与/或服务时系统的安全性，更准确地预防钓鱼网站欺诈和保护账户安全，我们可能会通过了解您的浏览信息、账户信息、您常用的软件信息、设备信息等手段来判断您的账号风险，并可能会记录一些我们认为有风险的链接（“URL”）；我们也会收集您的设备信息对于广东二师助手系统问题进行分析、统计流量并排查可能存在的风险、在您选择向我们发送异常信息时予以排查。</p>
    <p>1.3 您可选择是否授权我们收集和使用您的个人信息的情形</p>
    <p>
        1.3.1 为使您使用我们的产品与/或服务更便捷，从而提升您在广东二师助手的用户体验，我们的以下附加功能中可能会收集和使用您的个人信息。如果您不提供这些个人信息，您依然可以使用广东二师助手，但您可能无法使用这些附加功能或无法达到最佳的使用体验和效果。这些附加功能包括：</p>
    <p>（a）基于图片上传的附加功能：您可以在广东二师助手上传您的照片或使用相机拍照来实现更换头像和社区功能中的图片上传功能。我们将收集和使用您上传的图片信息。</p>
    <p>（b）基于语音技术的附加功能：您可以使用麦克风在社区功能中发表语音类型信息。在这些功能中我们会收集和使用您的录音内容。</p>
    <p>（c）基于教务缓存的附加功能：您可以授权广东二师助手使用你的校园网系统账户名和密码。我们将通过登录广东第二师范学院校园网系统收集和保存您的教务信息。</p>
    <p>1.3.2
        上述附加功能可能需要您在您的设备中向我们开启您的相机（摄像头）、相册（图片库）、麦克风以及教务缓存的隐私设置，以实现这些功能所涉及的信息的收集和使用。您可以在您设备设置或广东二师助手系统隐私设置中进行查看。请您注意，您开启这些权限和设置即代表您授权我们可以收集和使用这些个人信息来实现上述的功能，您关闭权限即代表您取消了这些授权，则我们将不再继续收集和使用您的这些个人信息，也无法为您提供上述与这些授权所对应的功能。您关闭权限的决定不会影响此前基于您的授权所进行的个人信息的处理。</p>
    <p>1.4 您充分知晓，以下情形中，我们收集、使用个人信息无需征得您的授权同意：</p>
    <p>1.4.1 与国家安全、国防安全有关的；</p>
    <p>1.4.2 与公共安全、公共卫生、重大公共利益有关的；</p>
    <p>1.4.3 与犯罪侦查、起诉、审判和判决执行等有关的；</p>
    <p>1.1.4 出于维护个人信息主体或其他个人的生命、财产等重大合法权益但又很难得到本人同意的；</p>
    <p>1.4.5 所收集的个人信息是个人信息主体自行向社会公众公开的；</p>
    <p>1.4.6 从合法公开披露的信息中收集的您的个人信息的，如合法的新闻报道、政府信息公开等渠道；</p>
    <p>1.4.7 根据您的要求签订合同所必需的；</p>
    <p>1.4.8 用于维护所提供的产品与/或服务的安全稳定运行所必需的，例如发现、处置产品与/或服务的故障；</p>
    <p>1.4.9 为合法的新闻报道所必需的；</p>
    <p>1.4.10 学术研究机构基于公共利益开展统计或学术研究所必要，且对外提供学术研究或描述的结果时，对结果中所包含的个人信息进行去标识化处理的；</p>
    <p>1.4.11 法律法规规定的其他情形。</p>
    <p>1.5 我们从第三方获得您个人信息的情形</p>
    <p>
        1.5.1 我们可能从第三方获取您授权共享的账户信息（头像、昵称），并在您同意本隐私政策后将您的第三方账户与您的广东二师助手账户绑定，使您可以通过第三方账户直接登录并使用我们的产品与/或服务。我们会将依据与第三方的约定、对个人信息来源的合法性进行确认后，在符合相关法律和法规规定的前提下，使用您的这些个人信息。</p>
    <p>&nbsp;1.6 您个人信息使用的规则</p>
    <p>1.6.1 我们会根据本隐私政策的约定并为实现我们的产品与/或服务功能对所收集的个人信息进行使用。</p>
    <p>1.6.2
        在收集您的个人信息后，我们将通过技术手段对数据进行去标识化处理，去标识化处理的信息将无法识别主体。请您了解并同意，在此情况下我们有权使用已经去标识化的信息；并在不透露您个人信息的前提下，我们有权对用户数据库进行分析并予以利用。</p>
    <p>1.6.3
        请您注意，您在使用我们的产品与/或服务时所提供的所有个人信息，除非您删除或通过系统设置拒绝我们收集，否则将在您使用我们的产品与/或服务期间持续授权我们使用。在您注销账号时，我们将根据法律法规的规定停止使用并删除您的个人信息。</p>
    <p>1.6.4 我们会对我们的产品与/或服务使用情况进行统计，并可能会与公众或第三方共享这些统计信息，以展示我们的产品与/或服务的整体使用趋势。但这些统计信息不包含您的任何身份识别信息。</p>
    <p>&nbsp;</p>
    <p><strong>二、我们如何使用 Cookie 和同类技术</strong></p>
    <p>2.1 Cookies的使用</p>
    <p>2.1.1 为实现您联机体验的个性化需求，使您获得更轻松的访问体验。我们会在您的移动设备上发送一个或多个名为Cookies的小数据文件，指定给您的Cookies
        是唯一的，它只能被将Cookies发布给您的域中的Web服务器读取。我们向您发送Cookies是为了简化您重复登录的步骤、存储广东二师助手的系统设置等数据进而为您提供使用的偏好设置、帮助判断您的登录状态以及账户或数据安全。</p>
    <p>2.1.2 我们不会将 Cookies 用于本隐私政策和本站下其它Cookie政策所述目的之外的任何用途。您可根据自己的偏好管理或删除
        Cookies。您可以清除软件内保存的所有Cookies。但如果您这么做，您可能需要在每一次访问广东二师助手时亲自更改用户设置，而且您之前所记录的相应信息也均会被删除，并且可能会对您所使用服务的安全性有一定影响。</p>
    <p>&nbsp;</p>
    <p><strong>三、我们如何共享、转让、公开披露您的个人信息</strong></p>
    <p>3.1 共享</p>
    <p>3.1.1 我们不会与广东二师助手以外的任何公司、组织和个人共享您的个人信息，但以下情况除外：</p>
    <p>3.1.1.1 事先获得您明确的同意或授权；</p>
    <p>3.1.1.2 根据适用的法律法规、法律程序的要求、强制性的行政或司法要求所必须的情况下进行提供；</p>
    <p>3.1.1.3 在法律法规允许的范围内，为维护广东二师助手、广东二师助手的关联方或合作伙伴、您或其他广东二师助手用户或社会公众利益、财产或安全免遭损害而有必要提供；</p>
    <p>3.1.1.4 只有共享您的信息，才能实现我们的产品与/或服务的核心功能或提供您需要的服务；</p>
    <p>3.1.1.5 应您需求为您处理您与他人的纠纷或争议；</p>
    <p>3.1.1.6 符合与您签署的相关协议（包括在线签署的电子协议以及相应的平台规则）或其他的法律文件约定所提供；</p>
    <p>3.1.1.7 基于学术研究而使用；</p>
    <p>3.1.1.8 基于符合法律法规的社会公共利益而使用。</p>
    <p>3.1.2 我们可能会将您的个人信息与我们的关联方共享。但我们只会共享必要的个人信息，且受本隐私政策中所声明目的的约束。我们的关联方如要改变个人信息的处理目的，将再次征求您的授权同意。</p>
    <p>3.1.3
        我们可能会向合作伙伴等第三方共享您的账户信息、设备信息以及社区信息，以保障为您提供的服务顺利完成。但我们仅会出于合法、正当、必要、特定、明确的目的共享您的个人信息，并且只会共享提供服务所必要的个人信息。我们的合作伙伴无权将共享的个人信息用于任何其他用途。</p>
    <p>3.1.4 对我们与之共享个人信息的公司、组织和个人，我们会与其签署严格的保密协定，要求他们按照我们的说明、本隐私政策以及其他任何相关的保密和安全措施来处理个人信息。</p>
    <p>3.1.5
        为了遵守法律、执行或适用我们的使用条件和其他协议，或者为了保护广东二师助手、您或其他广东二师助手客户的权利及其财产或安全，而与其他公司和组织交换信息。不过，这并不包括违反本隐私政策中所作的承诺而为获利目的出售、出租、共享或以其它方式披露的个人信息。</p>
    <p>3.2 转让</p>
    <p>我们不会将您的个人信息转让给任何公司、组织和个人，但以下情况除外：</p>
    <p>3.2.1 事先获得您明确的同意或授权；</p>
    <p>3.2.2 根据适用的法律法规、法律程序的要求、强制性的行政或司法要求所必须的情况进行提供；</p>
    <p>3.2.3 符合与您签署的相关协议（包括在线签署的电子协议以及相应的平台规则）或其他的法律文件约定所提供；</p>
    <p>3.3 公开披露</p>
    <p>我们仅会在以下情况下，且采取符合业界标准的安全防护措施的前提下，才会公开披露您的个人信息：</p>
    <p>3.3.1 根据您的需求，在您明确同意的披露方式下披露您所指定的个人信息；</p>
    <p>3.3.2
        根据法律、法规的要求、强制性的行政执法或司法要求所必须提供您个人信息的情况下，我们可能会依据所要求的个人信息类型和披露方式公开披露您的个人信息。在符合法律法规的前提下，当我们收到上述披露信息的请求时，我们会要求必须出具与之相应的法律文件，如传票或调查函。我们坚信，对于要求我们提供的信息，应该在法律允许的范围内尽可能保持透明。我们对所有的请求都进行了慎重的审查，以确保其具备合法依据，且仅限于执法部门因特定调查目的且有合法权利获取的数据。在法律法规许可的前提下，我们披露的文件均在加密密钥的保护之下。</p>
    <p>&nbsp;</p>
    <p><strong>四、我们如何保护和保存您的个人信息</strong></p>
    <p>4.1 我们保护您个人信息的技术与措施</p>
    <p>4.2 我们非常重视个人信息安全，并采取一切合理可行的措施，保护您的个人信息：</p>
    <p>4.2.1
        我们会采取适当的、符合业界标准的安全措施和技术手段，以保护您的个人信息，包括但不限于制定了严格的内部信息管理流程、对数据进行加密、定岗定责、举办安全和隐私保护培训课程，加强人员对于保护个人信息重要性的认识、控制访问权限、采取安全措施等，以防止其丢失、被非法使用、受到未授权访问或泄漏、被篡改或毁坏。</p>
    <p>4.2.2
        我们仅允许有必要知晓这些信息的广东二师助手及广东二师助手关联方的人员、合作伙伴访问个人信息，并为此设置了严格的访问权限控制和监控机制。我们同时要求可能接触到您个人信息的所有人员履行相应的保密义务。如果未能履行这些义务，可能会被追究法律责任或被中止与广东二师助手的合作关系。我们同时要求可能接触到您个人信息的所有人员履行相应的保密义务。如果未能履行这些义务，可能会被追究法律责任或被中止与广东二师助手的合作关系。</p>
    <p>4.2.3 为了保护您的信息安全，如果您的个人信息有误，我们会在严格验证并核实申请人身份后，根据您的要求访问、修正或删除相关信息（除非我们出于合法的原因而必须保留这些个人信息）。</p>
    <p>4.2.4
        如果一旦发生安全事件影响到您的个人信息安全的，我们将通过您预留的联系方式通知您，并告知您降低或防范相关风险的建议等信息。必要时，我们将根据适用的法律、法规通知主管部门。同时，我们会及时处置系统漏洞、网络攻击、病毒侵袭及网络侵入等安全风险。在发生危害网络安全的事件时，我们会按照网络安全事件应急预案，及时采取相应的补救措施，并按照规定向有关主管部门报告。</p>
    <p>4.2.5&nbsp; 如果您对我们的个人信息保护有任何疑问，可通过本政策上的联系方式联系我们。如您发现自己的个人信息泄密，尤其是您的账户及密码发生泄露，请您立即通过本政策提供的联系方式联络我们，以便我们采取相应措施。</p>
    <p>4.3 您个人信息的保存</p>
    <p>4.3.1 您的个人信息将全被存储于中华人民共和国境内。</p>
    <p>4.3.2 请您注意，当您成功申请注销广东二师助手账户后，我们将根据法律法规的要求对您的个人信息进行删除或匿名化处理，您的个人信息将无法恢复。</p>
    <p>4.3.3 如果我们终止服务或运营，我们会至少提前三十日向您通知，并在终止服务或运营后对您的个人信息进行删除或匿名化处理。</p>
    <p>4.3.4 除非获得您的特别同意，或者满足法律规定的评估及许可程序，我们不会跨境转移您的个人信息。</p>
    <p>&nbsp;</p>
    <p><strong>五、您如何管理您的个人信息</strong></p>
    <p>5.1 广东二师助手非常重视您对个人信息的关注，并尽全力保护您对于您个人信息访问、更正、删除以及撤回同意的权利，以使您拥有充分的能力保障您的隐私和安全。您的权利包括：</p>
    <p>5.2 访问和更正您的个人信息：除法律法规规定外，您有权随时访问和更正您的个人信息（但使用第三方账号授权或关联登录的除外）、账户信息、社区信息等。</p>
    <p>5.3
        您无法访问和更正的个人信息：除上述列明的信息外，您的部分个人信息我们还无法为您提供访问和更正的服务，这些信息主要是为了提升您的用户体验和保证交易安全所收集的您的设备信息、您使用附加功能时产生的个人信息。上述信息我们会在您的授权范围内进行使用，您无法访问和更正，但您可联系我们进行删除或做匿名化处理。</p>
    <p>5.4 删除您的个人信息：您在我们的产品与/或服务页面中可以直接清除或删除的信息，包括账户信息、四六级准考证号信息、社区信息等；</p>
    <p>5.5 在以下情形中，您可以向我们提出删除个人信息的请求：</p>
    <p>5.5.1 如果我们处理个人信息的行为违反法律法规；</p>
    <p>5.5.2 如果我们收集、使用您的个人信息，却未征得您的同意；</p>
    <p>5.5.3 如果我们处理个人信息的行为违反了与您的约定；</p>
    <p>5.5.4 如果您注销了广东二师助手账户；</p>
    <p>5.5.5 如果我们终止服务及运营。</p>
    <p>5.6
        若我们决定响应您的删除请求，我们还将同时通知从我们获得您的个人信息的实体，要求其及时删除，除非法律法规另有规定，或这些实体获得您的独立授权。当您从我们的服务中删除信息后，我们可能不会立即备份系统中删除相应的信息，但会在备份更新时删除这些信息。</p>
    <p>5.7 改变您授权同意的范围或撤回您的授权</p>
    <p>5.7.1 您可以通过删除信息、关闭设备功能等方式改变您授权我们继续收集个人信息的范围或撤回您的授权。您也可以通过注销账户的方式，撤回我们继续收集您个人信息的全部授权。</p>
    <p>5.7.2
        请您理解，每个业务功能需要一些基本的个人信息才能得以完成，当您撤回同意或授权后，我们无法继续为您提供撤回同意或授权所对应的服务，也不再处理您相应的个人信息。但您撤回同意或授权的决定，不会影响此前基于您的授权而开展的个人信息处理。</p>
    <p>5.8 注销账户</p>
    <p>5.8.1请您注意，如果您在社区功能中存在未处理完毕的信息，可能需要您处理完毕后方可注销账户。您注销账户后，我们将停止为您提供产品与/或服务，并依据您的要求，除法律法规另有规定外，我们将删除您的个人信息。</p>
    <p>&nbsp;</p>
    <p><strong>六、通知和修订</strong></p>
    <p>6.1
        为给您提供更好的服务以及随着广东二师助手业务的发展，本隐私政策也会随之更新。但未经您明确同意，我们不会削减您依据本隐私政策所应享有的权利。我们会通过在广东二师助手网站、广东二师助手移动端和广东二师助手微信公众号以及广东二师助手微信小程序上发出更新版本并在生效前通过网站公告或以其他适当方式提醒您相关内容的更新，也请您访问广东二师助手以便及时了解最新的隐私政策。</p>
    <p>6.2 对于重大变更，我们还会提供更为显著的通知（我们会通过包括但不限于邮件、短信或在浏览页面做特别提示等方式，说明隐私政策的具体变更内容）。</p>
    <p>本政策所指的重大变更包括但不限于：</p>
    <p>6.2.1 我们的服务模式发生重大变化。如处理个人信息的目的、处理的个人信息类型、个人信息的使用方式等；</p>
    <p>6.2.2 个人信息共享、转让或公开披露的主要对象发生变化；</p>
    <p>6.2.3 您参与个人信息处理方面的权利及其行使方式发生重大变化；</p>
    <p>6.2.4 我们负责处理个人信息安全的责任部门、联络方式及投诉渠道发生变化时；</p>
    <p>6.2.5 个人信息安全影响评估报告表明存在高风险时。</p>
    <p>&nbsp;</p>
    <p><strong>七、 未成年人的个人信息保护</strong></p>
    <p>7.1
        广东二师助手非常重视对未成年人个人信息的保护。若您是18周岁以下的未成年人，在使用我们的产品与/或服务前，应事先取得您家长或法定监护人的书面同意。广东二师助手根据国家相关法律法规的规定保护未成年人的个人信息。</p>
    <p>7.2 对于经父母或法定监护人同意而收集未成年人个人信息的情况，我们只会在受到法律允许、父母或监护人明确同意或者保护未成年人所必要的情况下使用或公开披露此信息。</p>
    <p>7.3 如果我们发现自己在未事先获得可证实的父母或法定监护人同意的情况下收集了未成年人的个人信息，则会设法尽快删除相关数据。</p>
    <p>&nbsp;</p>
    <p style="line-height:150%"><strong>八、免责声明</strong></p>
    <p style="line-height:150%"><strong>8.1
        当您以适当的方式开始、继续使用我们的产品或服务超过15日的，您未通过适当的方式联系我们并表达相反意见的，我们将视为您充分理解并同意本政策。</strong></p>
    <p style="line-height:150%"><strong>8.2
        请您理解，互联网并非绝对安全的环境，电子邮件、即时通讯、社交软件、交易平台等与其他用户的交流方式无法确定是否完全加密，请您在进行交互使用时，注意保护您个人信息的安全。</strong></p>
    <p style="line-height:150%"><strong>8.3
        请您理解，由于计算机及互联网技术的飞速发展及同步速度的限制，可能存在或出现各种恶意或非恶意的攻击手段。虽然我们持续致力于提升和加强安全措施，以保护您的个人信息免遭意外或破坏，但仍无法始终保证您的个人信息的百分之百安全。</strong>
    </p>
    <p style="line-height:150%"><strong>8.4 请您理解，您使用产品或服务时所用的系统和通讯网络，或硬件设备等我们均无法控制，请您了解并注意保护您的个人信息安全。</strong>除非本隐私政策有其他规定，为了保护您的人身及财产安全，我们特别提醒您不要通过公共网络，向我们或任何以我们名义为您提供服务的第三方，提供您的财产状况、健康生理、账户密码或验证码、个人轨迹、通信内容等信息。
    </p>
    <p>&nbsp;</p>
    <p>特别提示：本《广东二师助手隐私政策》将于发布之日正式生效，除非广东二师助手平台根据相关法律法规及平台运营对本隐私政策作出调整并发布新的隐私政策，否则本隐私政策一直有效。</p>
    <p>&nbsp;</p>
    <p><br></p>
</div>

</body>

</html>