<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta content="telephone=no" name="format-detection">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <title>社区准则</title>
</head>

<body>
<div>
    <p style="text-align:center">《广东二师助手社区准则》</p>
    <p style="text-align:center">更新日期：2019年2月16日</p>
    <p style="text-align:right"><br></p>
    <p style="text-indent:14px;line-height:150%">
    <p><strong>社区原则</strong></p>
    <p style="text-indent:28px">
        广东二师助手社区致力于提供一个由在校师生用户创造的优质、活跃、友善、和谐的文化娱乐、生活服务、互动交友的高校社区。
        为了保护用户创造的内容、维护良好的社区氛围，广东二师助手将依据广东二师助手用户协议和本规范中的条款对广东二师助手用户和发布在广东二师助手社区的内容进行管理。
        采取的措施包括但不限于更改或删除用户发布的内容、暂停或终止用户使用广东二师助手的权利。
    </p>
    <p>&nbsp;</p>
    <p><strong>基本准则</strong></p>
    <p style="text-indent:28px">这里有一些可帮助您避免麻烦的基本规则，请务必遵守这些规则并谨记在心，并尊重当初制订规则的精神。</p>
    <p style="text-indent:28px">
        （1）正确认识言论自由：社区鼓励言论自由，但并非是绝对的，无底线的言论自由。言论自由是指公民按照自己的意愿自由地发表言论以及与听取他人陈述意见的基本权利，但言论自由不代表无任何限制的表达自由。发表的言论要保证被议人员的人身权利和人格尊严，发表诽谤中伤、猥亵、威胁伤人、煽动仇恨或者侵犯版权等言论或者资讯是不被社区准许的。与此同时，表达意见时，也应当注意时间、地点和礼仪。</p>
    <p style="text-indent:28px">
        （2）禁止宣扬仇恨内容：社区禁止基于人种、族裔、民族、种族、宗教、残疾、性别、国籍、地域、年级、服役状态、生理特征或性取向和性别认同，宣扬或纵容对个人或群体的暴力行为。此外，我们也不容许基于上述特点而煽动仇恨情绪的内容。</p>
    <p style="text-indent:28px">
        （3）禁止裸露色情内容：社区禁止包含裸露和色情的内容。如果发布的信息包含裸露或其他色情内容，但其主要目的为教育、纪实、科学或艺术用途，且没有不必要的暴力或血腥内容，广东二师助手可能会允许发布该内容。您应尽可能提供详细的信息内容，以协助我们判断内容的主要目的。值得注意的是，我们对儿童色情采取零容忍态度，将与执法机关保持密切联系，主动举报涉及儿童色情的内容。</p>
    <p style="text-indent:28px">
        （4）禁止骚扰和网络霸凌：社区禁止包括但不限于恶意侵犯他人隐私、泄露他人个人资讯和现实生活信息、蓄意发布羞辱他人的内容、对他人进行人身攻击、煽动他人骚扰社区里的用户和任何形式的性骚扰、性霸凌等骚扰和网络霸凌行为。</p>
    <p style="text-indent:28px">
        （5）禁止暴力血腥内容：社区禁止发布包含真实、夸张或虚假的暴力、血腥和恐怖主义相关的内容以及煽动、教唆他人犯罪的行为。</p>
    <p style="text-indent:28px">（6）禁止垃圾内容和诈骗行为：社区禁止发布违规的恶意营销、广告宣传和任何形式的诈骗、勒索以及敲诈的内容。</p>
    <p style="text-indent:28px">（7）禁止威胁和辱骂他人：社区禁止威胁、恐吓、辱骂、侮辱、诋毁、污蔑、猥亵、攻击、诽谤、中伤他人的行为。</p>
    <p style="text-indent:28px">（8）禁止侵犯他人知识产权：社区禁止用户未经授权的情况下，在发布的信息内容中使用他人所拥有的知识产权内容，包括文字、音乐、图片和视频等。</p>
    <p style="text-indent:28px">（9）禁止冒充他人身份：社区禁止用户冒充他人，包括冒充其他用户、教职工、公众人物以及社区和应用管理员等都是不被允许的行为。</p>
    <p>&nbsp;</p>
    <p><strong>违反事项</strong></p>
    <p style="text-indent:28px">下述类别列举了我们重视的社区内不当行为。 但此列表并不包含所有的不当行为，广东二师助手团队保有对任何不在此页面上的违规行为而采取处理的权力。</p>
    <p style="text-indent:28px">1、违反法律法规</p>
    <p style="text-indent:28px">（1）反对宪法所确定的基本原则</p>
    <p style="text-indent:28px">（2）危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一</p>
    <p style="text-indent:28px">（3）损害国家荣誉和利益</p>
    <p style="text-indent:28px">（4）煽动民族仇恨、民族歧视，破坏民族团结</p>
    <p style="text-indent:28px">（5）破坏国家宗教政策，宣扬邪教和封建迷信</p>
    <p style="text-indent:28px">（6）散布谣言，扰乱社会秩序，破坏社会稳定</p>
    <p style="text-indent:28px">（7）宣扬淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪</p>
    <p style="text-indent:28px">（8）煽动非法集会、结社、游行、示威、聚众扰乱社会秩序</p>
    <p style="text-indent:28px">（9）诽谤他人，泄露他人隐私，侵害他人合法权益</p>
    <p style="text-indent:28px">（10）含有法律、行政法规禁止的其他内容的信息</p>
    <p style="text-indent:28px">2、发布垃圾广告信息和恶意营销</p>
    <p style="text-indent:28px">（1）散布非官方认可的第三方公司、网站或服务的广告或服务</p>
    <p style="text-indent:28px">（2）宣传违禁药物、赌博、色情广告内容</p>
    <p style="text-indent:28px">（3）发布包含欺骗性外链的内容，如未注明的淘宝客链接、跳转网站等，诱骗用户点击链接</p>
    <p style="text-indent:28px">（4）发布大量包含 SEO 推广链接的内容获取搜索引擎中的不正当曝光</p>
    <p style="text-indent:28px">（5）不规范转载他人内容同时加入推广营销内容</p>
    <p style="text-indent:28px">（6）发布包含欺骗性的恶意营销内容，如通过伪造经历、冒充他人等方式进行恶意营销</p>
    <p style="text-indent:28px">（7）使用特殊符号、图片等方式规避垃圾广告内容审核的广告内容</p>
    <p style="text-indent:28px">3、滥用产品功能的恶意行为</p>
    <p style="text-indent:28px">（1）冒充他人，通过头像、用户名等个人信息暗示自己与他人或机构相等同或有关联</p>
    <p style="text-indent:28px">（2）冒充管理员或系统，发布虚假信息</p>
    <p style="text-indent:28px">（3）制作及传播外挂或者用于操作帐号功能的恶意程序或相关教程</p>
    <p style="text-indent:28px">（4）发布含有潜在危险的内容，如钓鱼网站、木马、病毒网站等</p>
    <p style="text-indent:28px">（5）频繁发布难以辨识涵义影响阅读体验的字符、数字等无意义乱码</p>
    <p style="text-indent:28px">（6）骚扰他人，以评论、@ 他人、私信等方式对他人反复发送重复或者相似的诉求</p>
    <p style="text-indent:28px">4、恶意骚扰、侮辱、歧视或诽谤其他用户</p>
    <p style="text-indent:28px">（1）使用仇恨、歧视、淫秽或干扰性质的语言骚扰、威胁或辱骂其他用户，对其他用户进行人身攻击</p>
    <p style="text-indent:28px">（2）编造谣言，污蔑、诽谤和中伤他人，损害他人的名誉</p>
    <p style="text-indent:28px">（3）恐吓、威胁他人，对他人造成现实生活威胁，侵害他人合法权益</p>
    <p style="text-indent:28px">（4）散布他人现实生活信息，侵犯他人隐私</p>
</div>
</body>

</html>