<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.gdei.gdeiassistant.Repository.Mysql.GdeiAssistant.Privacy.PrivacyMapper">

    <!-- 开启PrivacyMapper namespace下的二级缓存 -->
    <cache/>

    <resultMap id="PrivacyResultMap" type="edu.gdei.gdeiassistant.Pojo.Entity.Privacy">
        <result property="username" column="username"/>
        <result property="genderOpen" column="is_gender_open"/>
        <result property="genderOrientationOpen" column="is_gender_orientation_open"/>
        <result property="regionOpen" column="is_region_open"/>
        <result property="introductionOpen" column="is_introduction_open"/>
        <result property="facultyOpen" column="is_faculty_open"/>
        <result property="majorOpen" column="is_major_open"/>
        <result property="cacheAllow" column="is_cache_allow"/>
    </resultMap>

    <select id="selectPrivacy" parameterType="java.lang.String" resultMap="PrivacyResultMap">
        select * from privacy where username=#{username}
    </select>

    <insert id="initPrivacy">
        insert into privacy (username,is_gender_open,is_gender_orientation_open,is_faculty_open
        ,is_major_open,is_region_open,is_introduction_open,is_cache_allow)
         values(#{username},true,true,true,true,true,true,true)
    </insert>

    <update id="resetPrivacy">
        update privacy set is_gender_open=1,is_gender_orientation_open=1,is_faculty_open=1,is_major_open=1,is_region_open=1
        ,is_introduction_open=1,is_cache_allow=1 where username=#{username}
    </update>

    <update id="updateGender">
        update privacy
        <choose>
            <when test="genderOpen">
                set is_gender_open='1'
            </when>
            <otherwise>
                set is_gender_open='0'
            </otherwise>
        </choose>
        where username=#{username}
    </update>

    <update id="updateGenderOrientation">
        update privacy
        <choose>
            <when test="genderOrientationOpen">
                set is_gender_orientation_open='1'
            </when>
            <otherwise>
                set is_gender_orientation_open='0'
            </otherwise>
        </choose>
        where username=#{username}
    </update>

    <update id="updateFaculty">
        update privacy
        <choose>
            <when test="facultyOpen">
                set is_faculty_open='1'
            </when>
            <otherwise>
                set is_faculty_open='0'
            </otherwise>
        </choose>
        where username=#{username}
    </update>

    <update id="updateMajor">
        update privacy
        <choose>
            <when test="majorOpen">
                set is_major_open='1'
            </when>
            <otherwise>
                set is_major_open='0'
            </otherwise>
        </choose>
        where username=#{username}
    </update>

    <update id="updateRegion">
        update privacy
        <choose>
            <when test="regionOpen">
                set is_region_open='1'
            </when>
            <otherwise>
                set is_region_open='0'
            </otherwise>
        </choose>
        where username=#{username}
    </update>

    <update id="updateIntroduction">
        update privacy
        <choose>
            <when test="introductionOpen">
                set is_introduction_open='1'
            </when>
            <otherwise>
                set is_introduction_open='0'
            </otherwise>
        </choose>
        where username=#{username}
    </update>

    <update id="updateCache">
        update privacy
        <choose>
            <when test="cacheAllow">
                set is_cache_allow='1'
            </when>
            <otherwise>
                set is_cache_allow='0'
            </otherwise>
        </choose>
        where username=#{username}
    </update>

</mapper>