@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    font-family: "SimHei" arial helvetica;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html:root {
    color: #979797;
}

html {
    width: 100%;
    overflow-x: hidden;
    max-width: 480px;
    margin: 0 auto;
}

table {
    /*width: 24rem;*/
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    text-align: center;
    position: relative;
    table-layout: fixed;
    word-wrap: break-word;
}

table th {
    background: #fff;
    width: 13%;
    height: 3rem;
    color: #5A5A5A;
    border-bottom: 1px solid #D6DFE1;
}

table td {
    /*background: #EEF2F3;*/
    /*border: solid #D6E0E2;*/
    /*border-width: 1px 0;*/
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #D6DFE1;
    /*border-image: url(img/border.png) 30 30 round;*/
    height: 3.5rem;
    color: #fff;
    font-size: 0.7rem;
    position: relative;
    background: #ECF0F1;
}

.now {
    color: skyblue;
}

table tr th:first-of-type {
    width: 8%;
}

table tr td:first-of-type {
    color: #000;
}

.append {
    height: 2.5rem;
}

nav {
    display: -moz-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-box;
    border-top: 1px solid #CFD1D1;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 52px;
    background: #fff;
    max-width: 480px;
    left: auto;
    right: auto;
}

nav a {
    color: inherit;
    text-decoration: none;
}

nav div {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
    font-size: 12px;
}

nav div img {
    height: 24px;
    margin: 6px auto 4px;
}

nav .on {
    color: skyblue;
}

.click td {
    height: 6rem;
}

.code {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 120;
    top: 0;
    left: 0;
    display: none;
}

.code .window {
    width: 88%;
    margin: 0 auto;
    margin-top: 20%;
    border-top: 5px solid #0d8fe7;
    background: #fff;
}

.code .window p {
    text-align: center;
    font-size: 1.3rem;
    line-height: 3.5rem;
    color: #000;
}

.code .window .in {
    border-top: 1px solid #e0e0e2;
    padding: 2rem;
    width: 100%;

}

.code .window .in p {
    font-size: 1rem;
    color: #979797;
}

.code .window .input {
    border: 1px solid #e0e0e2;
    padding: 0.6rem;
    width: 60%;
    display: inline-block;
    vertical-align: middle;
}

.code .window img {
    vertical-align: middle;
}

.code .window .input input {
    border: none;
    width: 90%;
    line-height: 21px;
    outline: none;
}

.button {
    width: 45%;
    line-height: 2.5rem;
    border: 1px solid #e0e0e2;
    display: inline-block;
    vertical-align: top;
    border-radius: 5px;
    text-align: center;
    margin: 2rem 0 0;
    color: #000;
}

.ok {
    background: #0E8EE7;
    color: #fff;
}

.weui-cell__bd a {
    color: gray;
}

.modal-content .weui-form-preview {
    margin-top: 0.5rem;
}