<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.linguancheng.gdeiassistant.Repository.Mysql.GdeiAssistantLogs.Charge.ChargeMapper">

    <insert id="insertChargeLog" keyProperty="id" parameterType="com.linguancheng.gdeiassistant.Pojo.Entity.ChargeLog">
        insert into charge_log (username,amount,time) values(#{username},#{amount},now())
    </insert>

</mapper>