<!DOCTYPE html>
<html lang="en">
<head>
    <title>实名认证</title>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <!-- 引入CSS样式 -->
    <link rel="stylesheet" href="/css/common/weui-1.1.1.min.css">
    <link rel="stylesheet" href="/css/common/weui-0.2.2.min.css">
    <link rel="stylesheet" href="/css/common/common.css">
    <script type="text/javascript" src="/js/common/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/js/common/weui.min.js"></script>
    <script type="application/javascript" src="/js/common/fastclick.js"></script>
    <script>

        $(function () {
            FastClick.attach(document.body);
            loadAuthenticationData();
        });

        //加载实名认证信息
        function loadAuthenticationData() {
            $.ajax({
                url: '/api/authentication',
                type: 'GET',
                success: function (result) {
                    if (result.success) {
                        if (result.data) {
                            $("#name").text(result.data.realname);
                            $("#authenticateState").text("已认证");
                            $("#nameCell").show();
                        } else {
                            $("#name").text("");
                            $("#authenticateState").text("未认证");
                            $("#nameCell").hide();
                            //弹出提示进行实名认证的弹窗
                            weui.alert('根据《中华人民共和国网络安全法》第二十四条的规定要求，为保障你使用广东二师助手不受限制，' +
                                '请尽快完成实名认证', {
                                title: '未进行实名认证',
                                buttons: [{
                                    label: '确定',
                                    type: 'primary'
                                }]
                            });
                        }
                    } else {
                        $(".weui_warn").text(result.message).show().delay(2000).hide(0);
                    }
                },
                error: function (result) {
                    if (result.status) {
                        $(".weui_warn").text(result.responseJSON.message).show().delay(2000).hide(0);
                    } else {
                        $(".weui_warn").text("网络连接异常，请检查网络连接").show().delay(2000).hide(0);
                    }
                }
            })
        }

        //与教务系统身份认证信息进行同步
        function authenticateWithSystem() {
            weui.confirm('我们将依照《隐私政策》保护你的个人信息，若你点击同意授权按钮，将视为你已阅读并同意《隐私政策》', {
                title: '授权广东二师助手登录你的教务系统并获取你的个人信息',
                buttons: [{
                    label: '取消',
                    type: 'default'
                }, {
                    label: '同意并授权',
                    type: 'primary',
                    onClick: function () {
                        $("#loadingToast, .weui_mask").show();
                        $.ajax({
                            url: '/api/authentication',
                            type: 'POST',
                            data: {
                                method: 0
                            },
                            success: function (result) {
                                $("#loadingToast, .weui_mask").hide();
                                if (result.success) {
                                    let alert = weui.alert('已完成实名认证，你现在可以使用广东二师助手所有功能了', function () {
                                            return false;
                                        },
                                        {
                                            title: '实名认证成功',
                                            buttons: [{
                                                label: '确认',
                                                type: 'primary',
                                                onClick: function () {
                                                    loadAuthenticationData();
                                                    alert.hide();
                                                }
                                            }]
                                        }
                                    );
                                } else {
                                    $(".weui_warn").text(result.message).show().delay(2000).hide(0);
                                }
                            },
                            error: function (result) {
                                $("#loadingToast, .weui_mask").hide();
                                if (result.status) {
                                    $(".weui_warn").text(result.responseJSON.message).show().delay(2000).hide(0);
                                } else {
                                    $(".weui_warn").text("网络连接异常，请检查网络连接").show().delay(2000).hide(0);
                                }
                            }
                        });
                    }
                }]
            });
        }

    </script>
</head>
<body>

<div class="weui_cells_title" onclick="history.go(-1)">返回</div>

<div class="hd">
    <h1 class="page_title">实名认证</h1>
    <p class="page_desc">若你需要更改实名认证信息<br>可以选择任意一种认证方式重新认证</p>
</div>

<!-- 错误提示，显示时用$.show();隐藏时用$.hide(); -->
<div class="weui_toptips weui_warn js_tooltips"></div>

<!-- 加载中弹框 -->
<div class="weui_mask" style="display: none"></div>
<div id="loadingToast" class="weui_loading_toast" style="display: none">
    <div class="weui_mask_transparent"></div>
    <div class="weui_toast">
        <div class="weui_loading">
            <div class="weui_loading_leaf weui_loading_leaf_0"></div>
            <div class="weui_loading_leaf weui_loading_leaf_1"></div>
            <div class="weui_loading_leaf weui_loading_leaf_2"></div>
            <div class="weui_loading_leaf weui_loading_leaf_3"></div>
            <div class="weui_loading_leaf weui_loading_leaf_4"></div>
            <div class="weui_loading_leaf weui_loading_leaf_5"></div>
            <div class="weui_loading_leaf weui_loading_leaf_6"></div>
            <div class="weui_loading_leaf weui_loading_leaf_7"></div>
            <div class="weui_loading_leaf weui_loading_leaf_8"></div>
            <div class="weui_loading_leaf weui_loading_leaf_9"></div>
            <div class="weui_loading_leaf weui_loading_leaf_10"></div>
            <div class="weui_loading_leaf weui_loading_leaf_11"></div>
        </div>
        <p class="weui_toast_content">请稍候</p>
    </div>
</div>

<div class="weui-cells__title">认证信息</div>
<div class="weui-cells">
    <div class="weui-cell" href="javascript:">
        <div class="weui-cell__bd">
            <p>认证状态</p>
        </div>
        <div id="authenticateState" class="weui-cell__ft">

        </div>
    </div>
    <div id="nameCell" class="weui-cell" style="display: none;" href="javascript:">
        <div class="weui-cell__bd">
            <p id="authenticationName">姓名</p>
        </div>
        <div id="name" class="weui-cell__ft">

        </div>
    </div>
</div>

<div class="weui-cells__title">认证方式</div>

<div class="weui-cells">
    <a class="weui-cell weui-cell_access" href="javascript:" onclick="authenticateWithSystem()">
        <div class="weui-cell__bd">
            <p>与教务系统个人信息同步</p>
        </div>
        <div class="weui-cell__ft"></div>
    </a>
    <a style="display: none;" class="weui-cell weui-cell_access" href="javascript:">
        <div class="weui-cell__bd">
            <p>上传身份证照片认证</p>
        </div>
        <div class="weui-cell__ft"></div>
    </a>
</div>

</body>
</html>