<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.gdei.gdeiassistant.Repository.Mysql.GdeiAssistantLogs.Close.CloseMapper">

    <insert id="insertCloseLog" keyProperty="id" parameterType="edu.gdei.gdeiassistant.Pojo.Entity.CloseLog">
        insert into close_log (username,resetname,time) values(#{username},#{resetname},now())
    </insert>

</mapper>