<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.gdei.gdeiassistant.Repository.Mysql.GdeiAssistant.New.NewMapper">

    <select id="selectNewInfo" parameterType="java.lang.Integer"
            resultType="edu.gdei.gdeiassistant.Pojo.Entity.NewInfo">
        select * from news where id=#{id}
    </select>

    <select id="selectNewInfoList" resultType="edu.gdei.gdeiassistant.Pojo.Entity.NewInfo">
        select id,title,type,publishDate from news order by publishDate desc limit #{start},#{size}
    </select>

    <select id="selectNewInfoByTitle" parameterType="java.lang.String"
            resultType="java.lang.String">
        select title from news where title=#{title}
    </select>

    <insert id="insertNewInfo" parameterType="edu.gdei.gdeiassistant.Pojo.Entity.NewInfo">
        insert into news (type,title,publishDate,content) values(#{type},#{title},#{publishDate},#{content})
    </insert>

</mapper>