#rnw_cookies_banner {
    width: 100%;
    background: #000000;
    color: #ffffff;
    opacity: 0.8;
    position: fixed;
    z-index: 10000;
    bottom: 0;
    left: 0;
}

#rnw_cookies_banner_text {
    padding: 1rem;
    margin: 0 auto;
    max-width: 45em;
}

#rnw_cookies_banner_button_more {
    color: #0070c9;
}

.spritefont-close {
    display: block;
    float: right;
    color: #fff;
    padding: 0 20px;
    font-weight: bold;
    font-size: 2.5em;
}