<!DOCTYPE html>
<html lang="en">
<head>
    <title>个人简介</title>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <!-- 引入CSS样式 -->
    <link rel="stylesheet" href="/css/common/weui-1.1.1.min.css">
    <link rel="stylesheet" href="/css/common/weui-0.2.2.min.css">
    <link rel="stylesheet" href="/css/common/common.css">
    <link rel="stylesheet" href="/css/common/jquery-weui.min.css">
    <script type="text/javascript" src="/js/common/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/js/common/weui.min.js"></script>
    <script type="text/javascript" src="/js/common/jquery-weui.min.js"></script>
    <script type="application/javascript" src="/js/common/fastclick.js"></script>
    <script>

        //消除iOS点击延迟
        $(function () {
            FastClick.attach(document.body);
        });

        $(document).ready(function () {
            getIntroduction();
        });

        //检测Input文字长度是否超过限制并进行实时字数反馈
        function inputLengthCheck(str, maxLen) {
            if (str.value.length > maxLen) {
                str.value = str.value.substr(0, maxLen);
            }
            $("#introductionLength").text(str.value.length);
        }

        //弹出修改个人简介窗口
        function showIntroductionDialog() {
            $("#introduction_input").val($("#introduction_cache").val());
            $("#changeIntroduction").popup();
            $("#introductionLength").text($("#introduction_input").val().length);
        }

        //获取个人简介内容
        function getIntroduction() {
            $.ajax({
                url: '/api/introduction',
                type: 'get',
                success: function (result) {
                    if (result.success === true) {
                        if (result.data === '') {
                            $("#introduction_input").val("");
                            $("#introduction_cache").val("");
                            $("#introduction_content").text('这个人很懒，什么都没写_(:3 」∠)_');
                        }
                        else {
                            $("#introduction_input").val(result.data);
                            $("#introduction_cache").val(result.data);
                            $("#introduction_content").text(result.data);
                        }
                    }
                    else {
                        showCustomErrorTip(result.message);
                    }
                },
                error: function () {
                    showNetworkErrorTip();
                }
            })
        }

        //显示网络错误提示
        function showNetworkErrorTip() {
            $(".weui_warn").text('网络连接失败,请检查网络连接').show().delay(2000).hide(0);
        }

        //显示服务端错误提示
        function showCustomErrorTip(message) {
            $(".weui_warn").text(message).show().delay(2000).hide(0);
        }

        //修改个人简介
        function changeIntroduction() {
            var introductionInput = $("#introduction_input").val();
            var introductionCache = $("#introduction_cache").val();
            $.closePopup();
            if (introductionInput !== introductionCache) {
                $.ajax({
                    url: '/api/introduction',
                    data: {
                        introduction: introductionInput
                    },
                    type: 'post',
                    success: function (result) {
                        if (result.success === true) {
                            getIntroduction();
                        }
                        else {
                            showCustomErrorTip(result.message);
                        }
                    },
                    error: function () {
                        showNetworkErrorTip();
                    }
                })
            }
        }

    </script>
</head>

<body>

<div class="weui_cells_title" onclick="history.go(-1)">返回</div>

<div class="hd">
    <h1 class="page_title">详细资料</h1>
</div>

<!-- 错误提示，显示时用$.show();隐藏时用$.hide(); -->
<div class="weui_toptips weui_warn js_tooltips"></div>

<input id="introduction_cache" type="hidden" value="">

<div class="weui-cells__title">个人简介</div>

<div class="weui-cells">
    <div class="weui-cell" href="javascript:" onclick="showIntroductionDialog()">
        <div class="weui-cell__bd">
            <p id="introduction_content"></p>
        </div>
    </div>
</div>

<!-- 修改个人简介弹窗 -->
<div id="changeIntroduction" class="weui-popup__container">
    <div class="weui-popup__overlay"></div>
    <div class="weui-popup__modal">
        <div class="toolbar">
            <div class="toolbar-inner">
                <a href="javascript:" style="left:0" class="picker-button close-popup">取消</a>
                <h1 class="title">请输入个人简介</h1>
            </div>
        </div>
        <div class="modal-content">
            <div class="weui-cells weui-cells_form">
                <div class="weui-cell">
                    <div class="weui-cell__hd">
                        <label class="weui-label">
                            个人简介
                        </label>
                    </div>
                    <div class="weui-cell__bd">
                        <textarea id="introduction_input" onkeyup="inputLengthCheck(this,80)"
                                  placeholder="请输入个人简介信息" type="text"
                                  class="weui-textarea" placeholder="请输入文本"></textarea>
                        <div class="weui-textarea-counter">
                            <span id="introductionLength">0</span>/80
                        </div>
                    </div>
                </div>
            </div>
            <div class="weui_btn_area">
                <a class="weui_btn weui_btn_primary" href="javascript:"
                   onclick="changeIntroduction()">确定</a>
            </div>
        </div>
    </div>
</div>

</body>

</html>
