<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <context-param>
        <param-name>log4jConfiguration</param-name>
        <param-value>classpath:/config/log4j2/log4j2.xml</param-value>
    </context-param>

    <listener>
        <listener-class>org.apache.logging.log4j.web.Log4jServletContextListener</listener-class>
    </listener>

    <!-- 设置spring 配置文件的位置 -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:/config/spring/applicationContext.xml</param-value>
    </context-param>

    <!-- 解决POST乱码问题 -->
    <filter>
        <filter-name>CharacterEncodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>utf-8</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>CharacterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- 过滤用户提交的表单信息，防止XSS攻击 -->
    <filter>
        <filter-name>XSSFilter</filter-name>
        <filter-class>com.linguancheng.gdeiassistant.Filter.XSSFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>XSSFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- 激活Tomcat的defaultServlet来处理静态文件 -->
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.png</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.gif</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.jpg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.js</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.css</url-pattern>
    </servlet-mapping>

    <!-- SpringMVC前端控制器 -->
    <servlet>
        <servlet-name>DispatcherServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath*:config/spring/applicationContext.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>DispatcherServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <!-- 设置Session过期时间为两小时 -->
    <session-config>
        <session-timeout>120</session-timeout>
    </session-config>

    <!-- 为避免项目间冲突，定义唯一的 webAppRootKey -->
    <context-param>
        <param-name>webAppRootKey</param-name>
        <param-value>GdeiAssistant</param-value>
    </context-param>

    <!-- 发生400错误时跳转的页面 -->
    <error-page>
        <error-code>400</error-code>
        <location>/WEB-INF/error/badRequestError.jsp</location>
    </error-page>

    <!-- 发生404错误时跳转的页面 -->
    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/error/notFoundError.jsp</location>
    </error-page>

    <!-- 发生405错误时跳转的页面 -->
    <error-page>
        <error-code>405</error-code>
        <location>/WEB-INF/error/methodNotAllowError.jsp</location>
    </error-page>

    <!-- 发生500错误时跳转的页面 -->
    <error-page>
        <error-code>500</error-code>
        <location>/WEB-INF/error/serverError.jsp</location>
    </error-page>

</web-app>