<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:util="http://www.springframework.org/schema/util"
       xmlns:task="http://www.springframework.org/schema/task" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:mongo="http://www.springframework.org/schema/data/mongo" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
       http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/data/mongo http://www.springframework.org/schema/data/mongo/spring-mongo.xsd">

    <!-- 获取配置参数 -->
    <context:property-placeholder location="classpath*:config/**/*.properties"/>

    <!-- 配置Redis参数 -->
    <bean id="poolConfig" class="redis.clients.jedis.JedisPoolConfig">
        <property name="maxIdle" value="${redis.maxIdle}"/>
        <property name="maxWaitMillis" value="${redis.maxWait}"/>
        <property name="testOnBorrow" value="${redis.testOnBorrow}"/>
    </bean>

    <!-- 配置Redis连接工厂 -->
    <bean id="connectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory"
          p:host-name="${redis.host}" p:port="${redis.port}" p:password="${redis.pass}" p:pool-config-ref="poolConfig"/>

    <!-- 配置Redis的操作模板 -->
    <bean id="redisTemplete" class="org.springframework.data.redis.core.RedisTemplate">
        <property name="connectionFactory" ref="connectionFactory"/>
    </bean>

    <!-- 配置MongoClient -->
    <mongo:mongo-client id="mongoClient" host="${mongo.host}" port="${mongo.port}"
                        credentials="${mongo.username}:${mongo.password}@${mongo.dbname}">
        <mongo:client-options
                connections-per-host="${mongo.connectionsPerHost}"
                min-connections-per-host="${mongo.minConnectionsPerHost}"
                threads-allowed-to-block-for-connection-multiplier="${mongo.threadsAllowedToBlockForConnectionMultiplier}"
                connect-timeout="${mongo.connectTimeout}"
                max-wait-time="${mongo.maxWaitTime}"
                socket-keep-alive="${mongo.socketKeepAlive}"
                socket-timeout="${mongo.socketTimeout}"
                max-connection-idle-time="${mongo.maxConnectionIdleTime}"
                max-connection-life-time="${mongo.maxConnectionLifeTime}"
                heartbeat-socket-timeout="${mongo.heartbeatSocketTimeout}"
                heartbeat-connect-timeout="${mongo.heartbeatConnectTimeout}"
                min-heartbeat-frequency="${mongo.minHeartbeatFrequency}"
                heartbeat-frequency="${mongo.heartbeatFrequency}"/>
    </mongo:mongo-client>

    <!-- 配置MongoDB Factory -->
    <mongo:db-factory id="mongoDbFactory" dbname="${mongo.dbname}" mongo-ref="mongoClient"/>

    <!-- Spring提供的MongoDB操作模板 -->
    <mongo:template id="mongoTemplate" db-factory-ref="mongoDbFactory" write-concern="NORMAL"/>

    <!-- 控制器映射器和控制器适配器 -->
    <mvc:annotation-driven conversion-service="conversionService"/>

    <!-- 类型转换器 -->
    <bean id="conversionService" class="org.springframework.context.support.ConversionServiceFactoryBean">
        <property name="converters">
            <set>
                <!-- String类型属性自动转换为枚举类型 -->
                <bean class="edu.gdei.gdeiassistant.Converter.EnumConvert.StringToQueryMethodEnumConverter"/>
                <bean class="edu.gdei.gdeiassistant.Converter.EnumConvert.StringToLoginMethodEnumConverter"/>
                <bean class="edu.gdei.gdeiassistant.Converter.EnumConvert.StringToAuthenticationTypeEnumConverter"/>
            </set>
        </property>
    </bean>

    <!-- 注册方法级别验证后处理器 -->
    <bean class="org.springframework.validation.beanvalidation.MethodValidationPostProcessor"/>

    <!-- 配置异步任务执行器和定时任务调度器 -->
    <task:annotation-driven scheduler="scheduler" executor="executor"/>

    <!-- 定时任务使用多线程 -->
    <task:scheduler id="scheduler" pool-size="5"/>

    <!-- 异步任务执行器 -->
    <task:executor id="executor" pool-size="5-50" queue-capacity="10"/>

    <!-- 文件上传配置的MultipartResolver处理器 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="utf-8"/>
    </bean>

    <!-- 配置FreeMarker的模板路径 -->
    <bean id="freemarkerConfig" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
        <property name="templateLoaderPath" value="/WEB-INF/view/"/>
        <property name="defaultEncoding" value="UTF-8"/>
        <property name="freemarkerSettings">
            <props>
                <prop key="template_update_delay">3600</prop>
                <prop key="locale">zh_CN</prop>
                <prop key="datetime_format">yyyy-MM-dd HH:mm:ss</prop>
                <prop key="date_format">yyyy-MM-dd</prop>
                <prop key="number_format">#.##</prop>
            </props>
        </property>
    </bean>

    <!-- HTML视图渲染器 -->
    <bean id="htmlViewResolver" class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.freemarker.FreeMarkerView"/>
        <property name="contentType" value="text/html; charset=UTF-8"/>
        <property name="exposeRequestAttributes" value="true"/>
        <property name="exposeSessionAttributes" value="true"/>
        <property name="exposeSpringMacroHelpers" value="true"/>
        <property name="redirectHttp10Compatible" value="false"/>
        <property name="cache" value="true"/>
        <property name="suffix" value=".html"/>
        <property name="order" value="0"/>
    </bean>

    <!-- JSP视图渲染器 -->
    <bean id="jspViewResolver"
          class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/view/"/>
        <property name="suffix" value=".jsp"/>
        <property name="redirectHttp10Compatible" value="false"/>
        <property name="order" value="1"/>
    </bean>

    <!-- 加载Properties配置文件 -->
    <bean id="propertiesReader" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="locations">
            <list>
                <value>classpath*:config/**/*.properties</value>
            </list>
        </property>
        <property name="fileEncoding" value="UTF-8"/>
    </bean>

    <!-- 拦截器 -->
    <mvc:interceptors>
        <!-- 用户登录状态校验拦截器 -->
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="edu.gdei.gdeiassistant.Interceptor.LoginInterceptor">
                <!-- 不进行拦截的地址列表 -->
                <property name="exceptionList" ref="loginInterceptorExceptionList"/>
            </bean>
        </mvc:interceptor>
    </mvc:interceptors>

    <!-- 易班站内应用授权信息 -->
    <util:map id="yiBanAppAuthorizeMap" scope="singleton">

    </util:map>

    <!-- 易班网站接入授权信息 -->
    <util:map id="yiBanAuthorizeMap" scope="singleton">

    </util:map>

    <!-- 易班轻应用授权信息 -->
    <util:map id="yiBanLightAppAuthorizeMap" scope="singleton">
        <entry key="userlogin">
            <bean class="edu.gdei.gdeiassistant.Pojo.Entity.YiBanAuthorizeInfo">
                <property name="appID" value="${yiban.userlogin.appId}"/>
                <property name="appSecret" value="${yiban.userlogin.appSecret}"/>
                <property name="callbackURL" value="${yiban.userlogin.callbackURL}"/>
            </bean>
        </entry>
        <entry key="secret">
            <bean class="edu.gdei.gdeiassistant.Pojo.Entity.YiBanAuthorizeInfo">
                <property name="appID" value="${yiban.secret.appId}"/>
                <property name="appSecret" value="${yiban.secret.appSecret}"/>
                <property name="callbackURL" value="${yiban.secret.callbackURL}"/>
            </bean>
        </entry>
        <entry key="ershou">
            <bean class="edu.gdei.gdeiassistant.Pojo.Entity.YiBanAuthorizeInfo">
                <property name="appID" value="${yiban.ershou.appId}"/>
                <property name="appSecret" value="${yiban.ershou.appSecret}"/>
                <property name="callbackURL" value="${yiban.ershou.callbackURL}"/>
            </bean>
        </entry>
        <entry key="lostandfound">
            <bean class="edu.gdei.gdeiassistant.Pojo.Entity.YiBanAuthorizeInfo">
                <property name="appID" value="${yiban.lostandfound.appId}"/>
                <property name="appSecret" value="${yiban.lostandfound.appSecret}"/>
                <property name="callbackURL" value="${yiban.lostandfound.callbackURL}"/>
            </bean>
        </entry>
        <entry key="dating">
            <bean class="edu.gdei.gdeiassistant.Pojo.Entity.YiBanAuthorizeInfo">
                <property name="appID" value="${yiban.dating.appId}"/>
                <property name="appSecret" value="${yiban.dating.appSecret}"/>
                <property name="callbackURL" value="${yiban.dating.callbackURL}"/>
            </bean>
        </entry>
        <entry key="news">
            <bean class="edu.gdei.gdeiassistant.Pojo.Entity.YiBanAuthorizeInfo">
                <property name="appID" value="${yiban.news.appId}"/>
                <property name="appSecret" value="${yiban.news.appSecret}"/>
                <property name="callbackURL" value="${yiban.news.callbackURL}"/>
            </bean>
        </entry>
    </util:map>

    <!-- 自动扫描组件 -->
    <context:component-scan base-package="edu.gdei.gdeiassistant"/>

    <!-- 启动对AspectJ注解的支持 -->
    <aop:aspectj-autoproxy/>

</beans>